@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans:wght@300&family=Squada+One&display=swap');
logo {
	font-family: 'Major Mono Display', monospace;
	font-size:3em;
	color:#dab6c3;
}

hr {
	border: 1px solid #ebebeb;
}

.topnav a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        background-color: grey;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        margin: 1px 1px;
        opacity: 0.6;
        transition: 0.3s;
}

.topnav a:hover {
	opacity: 1;
}


p {
        font-family: 'Open Sans', sans-serif;
	color:grey;
	margin-block-start: 0em;
    	margin-block-end: 0em;
}

table {
        padding: 15px;
        width:30%;
}
.plist th {
	text-align:left;
	font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
	color:#A2818E;
	padding: 5px;


}

.plist tr{
	color:grey;
	font-size: 1em;
	padding: 5px;

}


.plist td{
        color:white;
        font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	padding: 5px;

}
.plist a {
	color:white;
	font-size: 1em;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}

.plist a:hover {
	color:#dab6c3;
}


h1 {
        font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size:1.8em;
        margin-block-start: 0em;
        margin-block-end: 0em;
	color:#A2818E;

}

h2 {
	color:#adc4c2;
	font-family: 'Open Sans', sans-serif;
	font-size:1.3em;
        margin-block-start: 0em;
        margin-block-end: 0em;
}


body {
	margin-left:10px;
        margin-right:10px;
        margin-block-start: 0em;
        margin-block-end: 0em;
}

.codebox {
	background-color: #404040;
	overflow:auto;
	height: 500px;
	outline: 2px solid #dab6c3;

}

.codebox p {
        font-family: 'Roboto Mono', monospace;
        font-size:0.8em;
	color: white;

}

.centerobj {
	max-width: 500px;
	margin: auto;
	background-color:#242424;
	padding: 10px;
}
.centerobj {
	text-align: center;
}

body {
	background-color:#242424;
}

.loader {
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #dab6c3; /* Logo Pink */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin: auto;
	position: relative;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


